<h1><%= @tier.auction.name %></h1>
<h2>Tier: <%= @tier.name %></h2>
<div class="meta-data">
  <span>Opening: <%= @tier.opening_time %></span>
  <span>Closing: <%= @tier.closing_time %></span>
</div>
<p># RJ: Add jQueryUI sortable lists to add listings to tiers.</p>