<% provide(:title, "Welcome") %>

<h1>Welcome</h1>
<div class="center jumbotron">
  <p><em>Quiet, Please</em> is a silent auction tool, blah blah blah.</p>
</div>
<h3>Sign Up</h3>

<%= render 'signup_form', { btn_label: 'Submit' } %>


