// Media Breakpoints
// Base Selectors
// Tables
// Header
// Footer
// Typography
// Components
// Utilities
// Bootstrap Overrides

/* Media Queries ----------------------------------------------------------- */

@media all and (min-width: 0) {
  body {
      padding-top: 150px;
  }

  .onboarding-screens section > div {
    width: 100%;
  }

  // Signup & Login
  .signup-page > div {
    width: 100%;
  }
  .login-form {
    width: 100%;
  }

  // Dashboard
  .dashboard-blank-slate {
    width: 100%;
  }

}

@media (min-width: 769px) {
  body {
    padding-top: 70px;
  }

  .onboarding-screens section > div {
    width: 425px;
  }

  // Signup & Login
  .signup-page > div {
    width: 45%;
  }
  .login-form {
    width: 50%;
  }

  // Dashboard
  .dashboard-blank-slate {
    width: 50%;
  }

  .auction-controls {
    float:right;
    width: 30%;
  }

  .auction-content {
    float: left;
    width: 65%;
  }
}


/* Base Selectors ---------------------------------------------------------- */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* Tables ------------------------------------------------------------------ */

table i {
  color: #aaa;
  margin: 0 .3em;
}

table i:hover {
  color: #000;
}

/* Forms ------------------------------------------------------------------ */

.form {
  display: flex;
  flex-direction: column;
}

.form .short {
  width: 25%;
}

.form .medium {
  width: 50%;
}

/* Header ----------------------------------------------------------------- */

#logo {
  font-family: 'Questrial', cursive;
}

.navbar #logo {
  float: left;
  margin-right: 10px;
  font-size: 1.8em;
  color: #ccc;
  padding: 8px 0 0;
  font-weight: 100;
}

.navbar #logo:hover {
  color: #fff;
  text-decoration: none;
}

.dropdown i {
  font-size: 1.2em;
}

/* Footer ----------------------------------------------------------------- */

footer {
  // margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer .tagline {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.footer-secondary {
  display: flex;
  height: 50px;
}

/* Typography -------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 30px;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* Components -------------------------------------------------------------- */

// Subheader data
.meta-data > span {
  margin-right: 1rem;
  padding-right: 1rem;
  border-right: solid 1px #eee;
  text-transform: uppercase;
}
.meta-data > span:last-of-type {
  border: 0;
}

// Onboarding
.navbar-onboarding {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.2em;
}

// Signup & Login
.signup-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

// Dashboard
.dashboard-blank-slate {

}

// Auctions
.auction-controls {
  font-size: 1.2em;

  ul {
    padding: 0;

    li {
      list-style-type: none;
      border-top: solid 1px #ddd;
      padding: 1rem 0;
    }
  }
}

// Listings
.listing-catalogue {
  display: flex;
  flex-flow: row wrap;
  padding: 0;

  > li {
    border: solid 1px #ddd;
    list-style-type: none;
    width: 26rem;
    margin: 0 2rem 2rem 0;
    padding-bottom: 4rem;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style-type: none;

      h3 {
        margin: 2rem;
      }

      p {
        margin: 0 2rem;
      }

      img {
        width: 100%;
      }
    }
  }
}
.listing-view {
  display: flex;
  flex-wrap: wrap;
}


/* Utilities -------------------------------------------------------------- */

.margin-top-sm {
  margin-top: 2rem;
}

/* Bootstrap Overrides ---------------------------------------------------- */

.modal-footer {
  text-align: left;
}



/* Onboarding Fullscreen  --------------------------------------------- */

.onboarding-screens {
  position: absolute;
  top: 0;
  background: #fff;
  height: 500vh;
  padding: 0;
  color: #fff;
}

.onboarding-screens section {
  // display: flex;
  // flex-flow: column;
  // align-content: center;
  width: 100%;
	height: 100vh;
  margin: 0;
  padding: 10%;
}

.onboarding-screens section > div {
  display: flex;
  flex-flow: column;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 8rem;
}

.onboarding-screens section p,
.onboarding-screens section h1,
.onboarding-screens section a,
.onboarding-screens section form {
	margin: 5rem 5rem 0;
}

.onboarding-screens section form .btn-lg {
  margin-top: 3rem;
}

.onboarding-screens section a.scroll-button {
  position: relative;
  z-index: 2;
	display: block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}

.onboarding-screens section a.scroll-button:hover {
	opacity: .5;
}

.onboarding-screens section a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: scrollArrow 2s infinite;
	animation: scrollArrow 2s infinite;
	box-sizing: border-box;
}

@-webkit-keyframes scrollArrow {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes scrollArrow {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}

#section01 {
  background: url('quietly_trees.jpg') top center / cover no-repeat;
  height: 100vh;
  width: 100vw;
}
#section02 {
  background: url('quietly_engaged.jpg') top center / cover no-repeat;
  height: 100vh;
  width: 100vw;
}
#section03 {
  background: url('quietly_flying.jpg') top center / cover no-repeat;
  height: 100vh;
  width: 100vw;
}
#section04 {
  background: url('quietly_sparklers.jpg') top center / cover no-repeat;
  height: 100vh;
  width: 100vw;
}
#section05 {
  background: url('quietly_go.jpg') top center / cover no-repeat;
  height: 100vh;
  width: 100vw;
}







